<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeatByReceipt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FAD3A2628FB453D00657F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAD3A3C28FB454000657F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAD3A4628FB454000657F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
